
/* Custom styles */
body {
  font-family: 'Inter', sans-serif;
  color: #111;
  scrollbar-width: none;
  ::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #DBD7D1; /* Same as your background color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering */
}
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}

a, button {
  transition: all 0.2s ease-in-out;
}

.image-hover {
  overflow: hidden;
}

.image-hover img {
  transition: transform 0.7s ease;
}

.image-hover:hover img {
  transform: scale(1.05);
}